extends ../layouts/default

block content
	#about.container
		block intro
		div.header 
			h1 Gez Quinn
			div.text-muted
				h2 A web developer with a passion for great user-centred design.
		div.content
			h3 I work with people to solve real-world problems and implement their technical solutions, focussing on the following areas:
			ul
				li Information architecture
				li User experience and interface design
				li Front- and back-end web development
				li Visual design
		div.content
			h3 I'm Interested in...
			.row
				.col-md-6.col-sm-12.content.m-0.pr-md-3
					h4 ...working on creations that help people:
					ul.text-left
						li in their day-to-day lives
						li gain insights or better understand themselves and others or the world
						li connect with each other
						li improve themselves
						li express themselves
				.col-md-6.col-sm-12.content.m-0.pl-md-3.pt-3.pt-md-0
					h4 ...working with creative people who:
					ul.text-left
						li have something positive to offer
						li want to spread that positivity to others
						li are passionate about what they have to offer
						li want to leave the world a better place
		div.content.mb-0.pb-5
			h3 Interested in working with me?
			p I'm available for new projects – <a href="mailto:holla@gezquinn.design?Subject=Hello" target="_top">get in touch</a>!
		//- br
			//- p I also maintain my app DreamCloud and share my professional discoveries here in my notebook and Twitter.
			//- h2 Hello!
			//- p My name is Gerard Quinn, Gez for short. 
			//- p I live in Sheffield, UK
			//- p I like to work on projects that bring value to people's lives.
			//- p I have a background in science but I'm also a creator at heart.
			//- p Being a designer and developer helps me to exercise both passions.
			//- //- p In my work, I’m looking to create and test emotionally compelling moments that inspire users to engage more with whatever it is I am designing, and hopefully get more value from it. 
			//- //- p This involves applying design and psychological principles to the UI, and testing out lots and lots of ideas to see what succeeds and what fails.
			//- //- p I'm equally at home throughout research and strategy to polishing final designs and prototyping. keep the user in mind while considering business goals, tech constraints, and product roadmap. By better understanding the audience and problems, I can first focus on the experience—designing a more usable and enjoyable product.
			//- br
			//- h3 Favoured Tools / Frameworks
			//- .row.text-muted
			//- 	.col-md-6.col-lg-6.col-sm-12.p-2
			//- 		.card.h-100
			//- 			.card-body
			//- 				.card-title  
			//- 					h4 Back-end database design and development
			//- 					//- small MS SQL Server, MongoDB, Loopback, node.js, Linux
			//- 				p MS SQL Server - 10 years experience
			//- 				p MongoDB - 3 years experience
			//- 				p Loopback - 3 years experience
			//- 				p Node.js - 3 years experience
			//- 				p Linux (Ubuntu) - 2 years experience
			//- 				//- ul
			//- 				//- 	li
			//- 				//- 		strong Attentively: </strong>I'm a great listener
			//- 				//- 	li
			//- 				//- 		strong Collaboratively: </strong>It's better to work as a team
			//- 				//- 	li
			//- 				//- 		strong Holistically: </strong>I’m good at connecting the bigger picture to the finer detail. 
			//- 				//- 	li
			//- 				//- 		strong Methodically: </strong>I’m big on planning, designing and prototyping.
			//- 				//- 	li
			//- 				//- 		strong Iteratively: </strong>I believe in using feedback to constantly refine and improve creations. 
			//- 				//- 	li
			//- 				//- 		strong Ultimately: </strong>I produce work of a high quality and like to leave people happy.
			//- 	.col-md-6.col-lg-6.col-sm-12.p-2
			//- 		.card.h-100
			//- 			.card-body
			//- 				.card-title 
			//- 					h4 Front-end web design and development
			//- 					//- small Angular, Keystone
			//- 				p Angular - 3 years experience
			//- 				p Keystone - 1 year
			//- 				//- p.text-muted Creations that help people...
			//- 				//- ul.text-muted
			//- 				//- 	li in their day-to-day lives
			//- 				//- 	li gain insights or better understand themselves and others or the world
			//- 				//- 	li connect with each other
			//- 				//- 	li improve themselves
			//- 				//- 	li express themselves
			//- 	.col-md-6.col-lg-6.col-sm-12.p-2
			//- 		.card.h-100
			//- 			.card-body
			//- 				.card-title
			//- 					h4 Multiplatform mobile app development
			//- 					//- small Ionic
			//- 				p Ionic - 3 years experience
			//- 				//- ul
			//- 				//- 	li Database design and development
			//- 				//- 	li Front-end web design and development
			//- 				//- 	li Multiplatform mobile app development
			//- 				//- 	li User experience and interface design
			//- 				//- 	li Visual design
			//- 	.col-md-6.col-lg-6.col-sm-12.p-2
			//- 		.card.h-100
			//- 			.card-body
			//- 				.card-title
			//- 					h4 User experience and interface design
			//- 					//- small Sketch
			//- 				p Sketch - 1 year experience
			//- 				//- p.text-muted Creative people who...
			//- 				//- ul.text-muted
			//- 				//- 	li have something positive to offer
			//- 				//- 	li want to spread that positivity to others
			//- 				//- 	li are passionate about what they have to offer
			//- 				//- 	li want to leave the world a better place
			//- 	.col-md-6.col-lg-6.col-sm-12.p-2
			//- 		.card.h-100
			//- 			.card-body
			//- 				.card-title
			//- 					h4 Visual design
			//- 					//- small Illustrator
			//- 				p Adobe Illustrator - 5 years experience
			//- br
			//- h3 Timeline
			//- br
			//- .timeline(data-mode="vertical", data-visible-items=4, data-force-vertical-mode=600, data-vertical-start-position='left', data-horizontal-start-position='top', data-start-index=3)
			//- 	.timeline__wrap
			//- 		.timeline__items
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					a(href='https://www.coursera.org/account/accomplishments/specialization/T8QSRYZY96YP')
			//- 						h3 2018
			//- 						h2 Full Stack Web and Multiplatform Mobile App Development
			//- 						p  Hong Kong University of Science and Technology
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					a(href='https://www.coursera.org/account/accomplishments/specialization/UF4GWQGHB82W')
			//- 						h3 2017
			//- 						h2 Interaction Design
			//- 						p  University of California San Diego
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					h3 2011
			//- 					h2 .NET Programming Course
			//- 					p  Java Consult, London, UK								
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					h3 2009
			//- 					h2 Diploma of Special Study in Business and Computing
			//- 					p  University of Westminster
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					h3 2005
			//- 					h2 MSc Chemoinformatics
			//- 					p  University of Sheffield
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					h3 2004
			//- 					h2 BSc Pharmacology
			//- 					p  University of Sheffield
			//- 			.timeline__item
			//- 				.timeline__content
			//- 					h3 2000
			//- 					h2 IT User Of The Year
			//- 					p [North East Local Competition]

			//- br
			//- br
		