extends ../layouts/default

block content
	#contact.container
		block intro
		h1.text-center Contact Me
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row.justify-content-md-center: .col-md-8.col-lg-6.p-3
				form#contact-form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						input#name(type='text', name='name.full', value=formData['name.full'], required).form-control
						label.form-control-placeholder(for="name") Name
					.form-group(class=validationErrors.email ? 'has-error' : null)
						input#email(type='email', name='email', value=formData.email, required).form-control
						label.form-control-placeholder(for="email")  Email

					.form-group(class=validationErrors.subject ? 'has-error' : null)
						input#subject(type='text', name='subject', value=formData.subject, required).form-control
						label.form-control-placeholder(for="subject")  Subject
					//- .form-group
					//- 	input#phone(type='text', name='phone', value=formData.phone).form-control
					//- 	label.form-control-placeholder(for="phone")  Phone
					//- .form-group(class=validationErrors.enquiryType ? 'has-error' : null)
					//- 	select#enquiryType(name='enquiryType', required).form-control
					//- 		option(value='')
					//- 		each type in enquiryTypes
					//- 			option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					//- 	label.form-control-placeholder(for="enquiryType") What are you contacting me about?
					.form-group(class=validationErrors.message ? 'has-error' : null)
						textarea#message(name='message' rows=7, required).form-control= formData.message
						label.form-control-placeholder(for="message") Leave me a message...
					.form-actions
						button#submit(type='submit', disabled).btn.btn-secondary.btn-lg Send
