extends ../layouts/default

block content
	div#home.container.align-items-center.d-flex
		div#home-content.row.w-100.align-items-center.justify-content-center
			div.text-center.p-3.home
				h1.home__line--1 I'm <a href="/about">Gez Quinn</a>.
				h1.home__line--2 I created <a href="https://dreamcloud.app" target="_blank">DreamCloud</a>.
				//- h1.home__line--3 I'm a <a href="/work">web developer</a>.
				//- h1.home__line--4 I <a href="/notes">write</a> about it.
				//- h3.text-muted I live in Sheffield, UK.
				//- h3.text-muted I design and develop first-class user experiences.
				//- br
				//- a.btn.btn-secondary.btn-lg(href='/contact') Get in touch
			//- div.col-sm-6.bounce-in-top
				//- div
				//- 	p.text-muted.bg-light.p-3 Visual design
				//- div
				//- 	p.text-muted.bg-light.p-3 User experience and interface design
				//- div
				//- 	p.text-muted.bg-light.p-3 Front-end web design and development
				//- div
				//- 	p.text-muted.bg-light.p-3 Multiplatform mobile app development
				//- div
				//- 	p.text-muted.bg-light.p-3 Database design and development
