extends ../layouts/default

mixin note(note)
	.note(data-ks-editable=editable(user, { list: 'Note', id: note.id }))
		h2: a(href='/notebook/note/' + note.slug)= note.title
		p.lead.text-muted Noted 
			if note.publishedDate
				| on #{note._.publishedDate.format('MMMM Do, YYYY')} 
			if note.categories && note.categories.length
				| in 
				each cat, i in note.categories
					a(href='/notebook/' + cat.key)= cat.name
					if i < note.categories.length - 1
						| , 
					else
						|  
			if note.author
				| by #{note.author.name.first}
		if note.image.exists
			img(src=note._.image.fit(160,160)).img.pull-right
		p!= note.content.brief
		if note.content.extended
			p.read-more: a(href='/notebook/note/' + note.slug) Read more...

block content
	#notebook.container
		block intro
		h1.text-center= data.category ? data.category.name : 'Notebook'
		.row
			.col-sm-8.col-md-9
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.notes.results.length
						if data.notes.totalPages > 1
							h4.text-weight-normal Showing 
								strong #{data.notes.first}
								|  to 
								strong #{data.notes.last}
								|  of 
								strong #{data.notes.total}
								|  notes.
						else
							h4.text-weight-normal Showing #{utils.plural(data.notes.results.length, '* note')}.
						.notebook
							each note in data.notes.results
								+note(note)
						
						if data.notes.totalPages > 1
							ul.pagination
								if data.notes.previous
									li: a(href='?page=' + data.notes.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.notes.pages
									li(class=data.notes.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.notes.totalPages : 1) : p ))= p
								if data.notes.next
									li: a(href='?page=' + data.notes.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.notes.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category
							h3.text-muted There are no notes in the category #{data.category.name}.
						else
							h3.text-muted There are no notes yet.
			
			if data.categories.length
				.col-sm-4.col-md-3
					h2 Categories
					.list-group(style='margin-top: 70px;')
						a(href='/notebook', class=!data.category ? 'active' : false).list-group-item All Categories
						each cat in data.categories
							a(href='/notebook/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
