extends ../layouts/default

mixin project(project)
	.project(data-ks-editable=editable(user, { list: 'project', id: project.id }))
		h2: a(href='/work/'+ project.slug)= project.title
		//- p.lead.text-muted Posted 
		//- 	if project.publishedDate
		//- 		| on #{project._.publishedDate.format('MMMM Do, YYYY')} 
		//- 	if project.categories && project.categories.length
		//- 		| in 
		//- 		each cat, i in project.categories
		//- 			a(href='/work/category/' + cat.key)= cat.name
		//- 			if i < project.categories.length - 1
		//- 				| , 
		//- 			else
		//- 				|  
		//- 	if project.author
		//- 		| by #{project.author.name.first}
		if project.image.exists
			img(src=project._.image.fit(160,160)).img.pull-right
		p!= project.content.brief
		//- if project.content.extended
		//- 	p.read-more: a(href='/work/'+ project.client + '/' + project.slug) Read more...

block content
	#projects.container
		block intro
		div.header
			h1.text-left= data.category ? data.category.name : data.client ? data.client.name : 'Work'
			div.text-muted
				if (filters.category && !data.category)
					h2.text-muted Invalid Category. #{data.client}
				else
					if data.projects.results.length
						if data.projects.totalPages > 1
							h2 
								strong #{data.projects.first}
								|  to 
								strong #{data.projects.last}
								|  of 
								strong #{data.projects.total}
								|  projects.
						else
							h2 #{utils.plural(data.projects.results.length, '* project')}.
						
						if data.projects.totalPages > 1
							ul.pagination
								if data.projects.previous
									li: a(href='?page=' + data.projects.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.projects.pages
									li(class=data.projects.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.projects.totalPages : 1) : p ))= p
								if data.projects.next
									li: a(href='?page=' + data.projects.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.projects.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category
							h2.text-muted There are no projects in the category #{data.category.name}.
						else
							h2.text-muted There are no projects yet.
		.row.content.mb-0
			//- .col-sm-8.col-md-9
			.project
				each project in data.projects.results
					+project(project)
			
		//- if data.projects.totalPages > 1
		//- 	ul.pagination
		//- 		if data.projects.previous
		//- 			li: a(href='?page=' + data.projects.previous): span.glyphicon.glyphicon-chevron-left
		//- 		else
		//- 			li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
		//- 		each p, i in data.projects.pages
		//- 			li(class=data.projects.currentPage == p ? 'active' : null)
		//- 				a(href='?page=' + (p == '...' ? (i ? data.projects.totalPages : 1) : p ))= p
		//- 		if data.projects.next
		//- 			li: a(href='?page=' + data.projects.next): span.glyphicon.glyphicon-chevron-right
		//- 		else
		//- 			li.disabled: a(href='?page=' + data.projects.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
			
			//- if data.categories.length
			//- 	.col-sm-4.col-md-3
			//- 		h2 Categories
			//- 		.list-group.pt-3
			//- 			a(href='/work/', class=!data.category ? 'active' : false).list-group-item All Categories
			//- 			each cat in data.categories
			//- 				a(href='/work/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
