extends ../layouts/default

block content
	#project.container
		article
			//- hr
			//- if !data.project
			//- 	h2 Invalid project.
			//- else
			//- header
			div.header
				//- p.back: a(href='/work') &larr;
				h1.text-left= data.project.title
					div.text-muted
						h2 !{data.project.content.brief}
				if data.project.url
					a(href=data.project.client.url, target="_blank") #{data.project.url}
				//- h5 posted 
				//- 	if data.project.publishedDate
				//- 		| on #{data.project._.publishedDate.format('MMMM Do, YYYY')} 
				//- 	if data.project.categories && data.project.categories.length
				//- 		| in 
				//- 		each cat, cat_i in data.project.categories
				//- 			a(href='/projects/' + cat.key)= cat.name
				//- 			if cat_i < data.project.categories.length - 1
				//- 				| , 
				//- 			else
				//- 				|  
				//- 	if data.project.author
				//- 		| by #{data.project.author.name.first}
			//- .content
			//- 	.project-content
					//- if data.project.image.exists
					//- 	.image-wrap: img(src=data.project._.image.fit(750,450)).img-responsive
			div.project-content
				!= data.project.content.full
