include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Gez Quinn'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/prism.css" rel="stylesheet")
		link(href="/styles/site.css", rel="stylesheet")
		link(href="/styles/menu.css", rel="stylesheet")
		//- link(href="/fonts/gilroy/gilroy-light.css", rel="stylesheet")
		//- link(href="/fonts/gilroy/gilroy-extrabold.css", rel="stylesheet")
		//- link(href="/styles/offcanvas.css" rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- div#header-content.container-fluid
		div.container
			if (locals.section != 'home')
				nav#nav(role="navigation").navbar.navbar-expand-md.fixed-top.bg-white.page-wrapper
					if (locals.section != 'home')
						a.nav-item(href='/') Home
					span#menu.ml-auto.d-md-none.btn.btn-outline-secondary(style='cursor:pointer' onclick='openNav()') Menu
					ul.nav.navbar-nav.navbar-left.ml-auto.d-none.d-md-flex.hover.hover-1
						each link in navLinks
							li.nav-item(class=(section == link.key ? 'active' : null)): a.nav-link(href=link.href)= link.label
				#myNav.overlay.text-align-center
					a#close.ml-auto.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
						.overlay-content
							ul.nav.navbar-nav.navbar-left.ml-auto
								li.nav-item.mx-3: a.nav-item(href='/') Home
								each link in navLinks
									li.nav-item.mx-3(class=(section == link.key ? 'active' : null)): a.nav-link(href=link.href)= link.label

			//- HEADER
			//- header#header

				//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
				//- ... or completely change this header to suit your design.
				

				//- nav(role="navigation").navbar.navbar-expand-md.navbar-light.fixed-top
				//- 	if (locals.section != 'home')
				//- 		a.navbar-brand(href='/') Gez Quinn
				//- 	button.navbar-toggler(onclick='openNav()', type='button', data-toggle='collapse', data-target='.navbar-collapse')
				//- 			span.sr-only Toggle navigation
				//- 			span.navbar-toggler-icon
				//- 	.collapse.navbar-collapse
				//- 		ul.nav.navbar-nav.navbar-left.ml-auto
				//- 			each link in navLinks
				//- 				li.nav-item.mx-3(class=(section == link.key ? 'active' : null)): a.nav-link(href=link.href)= link.label
						//- ul.nav.navbar-nav.navbar-right.ml-auto
						//- 	if user
						//- 		if user.canAccessKeystone
						//- 			li: a(href='/keystone') Open Keystone
						//- 		li: a(href='/keystone/signout') Sign Out
							//- else
								//- li: a(href='/keystone/signin') Sign In
						//- form.form-inline.my-2.my-lg-0
						//- input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
						//- button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

		//- BODY
		content#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		

			//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
			//- p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.
		if (locals.section != 'home')
			footer#footer: .bg-secondary.bottom
				.text-center.pt-3
					small
						strong Follow me
					nav(role="navigation").navbar.navbar-expand-md.bg-secondary
						ul.nav.navbar-nav.navbar-left.m-auto
							li.nav-item.mx-1
							a.nav-link(href='//facebook.com/gezquinndesign')
								svg.m-r-10(width='18', viewBox='0 0 32 32')
									path(fill='currentColor', d='M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z')
								small.mx-2 Facebook
							li.nav-item.mx-1
							a.nav-link(href='//github.com/gezquinndesign')
								svg.m-r-10(width='18', viewBox='0 0 32 32')
									path(fill='currentColor', d='M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z')
								small.mx-2 Github
							//- li.nav-item.mx-1
							//- a.nav-link(href='//youtube.com/user/gezquinndesign')
							//- 	svg.m-r-10(width='18', viewBox='0 0 32 32')
							//- 		path(fill='black', d='M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z')
							//- 	small.mx-2 Youtube
							li.nav-item.mx-1
							a.nav-link(href='//twitter.com/gezquinndesign')
								svg.m-r-10(width='18', viewBox='0 0 32 32')
									path(fill='currentColor', d='M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z')
								small.mx-2 Twitter
							li.nav-item.mx-1
							a.nav-link(href='//www.linkedin.com/in/gezquinndesign/')
								svg.m-r-10(width='18', viewBox='0 0 32 32')
									path(fill='currentColor', d='M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 26h-4v-14h4v14zM10 10c-1.106 0-2-0.894-2-2s0.894-2 2-2c1.106 0 2 0.894 2 2s-0.894 2-2 2zM26 26h-4v-8c0-1.106-0.894-2-2-2s-2 0.894-2 2v8h-4v-14h4v2.481c0.825-1.131 2.087-2.481 3.5-2.481 2.488 0 4.5 2.238 4.5 5v9z')
								small.mx-2 LinkedIn
							li.nav-item.mx-1
							a.nav-link(href='//stackoverflow.com/users/9213895/gezquinndesign')
								svg.m-r-10(width='18', viewBox='0 0 32 32')
									path(fill='currentColor', d='M32 20v12h-32v-12h4v8h24v-8zM6 22h20v4h-20zM6.473 17.671l0.866-3.905 19.526 4.328-0.866 3.905zM8.739 9.642l1.69-3.625 18.126 8.452-1.69 3.625zM30.991 11.296l-2.435 3.173-15.867-12.175 1.761-2.294h1.82z')
								small.mx-2 StackOverflow



		//- JAVASCRIPT
		script(src='/js/prism.js')
		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery.min.js')
		script.
			var valFix = function(el) { (function() { var check = el.val(),run = function() {el.attr('value',el.val());}, timer = setInterval(function() { run(); },100); })(); }
			valFix($('#email')); valFix($('#name')); valFix($('#subject'));
			function validation(value){ console.log($(value).is(':valid')); return $(value).is(':valid') ? true : false; }
			$(".form-control").keyup(function() { $(".form-control").each(function(index, item){ if(!validation(item)){ $("#submit").prop("disabled", true); return } if ($(item).attr('id') == $(".form-control").attr('id')) $("#submit").prop("disabled", false); }); })
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap.bundle.min.js')
		script(src='/js/bootstrap/offcanvas.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.
		//- script(src='js/timeline.js')
		//- script(src='js/scroll-up-bar.min.js')
		script.
			//- $(function(){ jQuery('.timeline').timeline();});
			//- jQuery('.timeline').timeline({ mode: 'horizontal', visibleItems: 4, forceVerticalMode: 600, verticalStartPosition: 'right', horizontalStartPosition: 'top', startIndex: 9 });
			/* Open when someone clicks on the span element */
			function openNav() { document.getElementById("myNav").style.height  = "100%"; jQuery('#nav').toggle();}
			/* Close when someone clicks on the "x" symbol inside the overlay */
			function closeNav() { document.getElementById("myNav").style.height  = "0%"; jQuery('#nav').toggle(); }
			//- Include template-specific javascript files by extending the js block

			// $('#nav').scrollupbar();
		block js
