/**
 * @license
 * MyFonts Webfont Build ID 3734702, 2019-03-16T11:24:39-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Gilroy-Light by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 500,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3734702
 * 
 * © 2019 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work
@import url("//hello.myfonts.net/count/38fcae"); */

@font-face {
	font-family: 'Gilroy-Light';
	src: url('webfonts/38FCAE_0_0.eot');
	src: url('webfonts/38FCAE_0_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/38FCAE_0_0.woff2') format('woff2'),
		url('webfonts/38FCAE_0_0.woff') format('woff'),
		url('webfonts/38FCAE_0_0.ttf') format('truetype');
}
