.home {
	font-size: 3.75rem;
}

.home h1 {
	margin-bottom: 0.8rem;
}

.home a {
	border-bottom: 1px solid;
	display: inline-block;
	line-height: 1.3;
}

.home__line--1 {
	-webkit-animation: fade-in 1s 0.5s linear backwards;
	animation: fade-in 1s 0.5s linear backwards;
}
.home__line--2 {
	-webkit-animation: fade-in 1s 1s linear backwards;
	animation: fade-in 1s 1s linear backwards;
}
.home__line--3 {
	-webkit-animation: fade-in 1s 1.5s linear backwards;
	animation: fade-in 1s 1.5s linear backwards;
}
.home__line--4 {
	-webkit-animation: fade-in 0.5s 2s linear backwards;
	animation: fade-in 0.5s 2s linear backwards;
}
.home__line--5 {
	-webkit-animation: fade-in 0.5s 2.5s linear backwards;
	animation: fade-in 0.5s 2.5s linear backwards;
}
.html--home .header {
	-webkit-animation: fade-in 0.5s 3s linear backwards;
	animation: fade-in 0.5s 3s linear backwards;
}
@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


