//- link(href="/fonts/gilroy/gilroy-light.css", rel="stylesheet")
@import url('../../fonts/gilroy/gilroy-light/gilroy-light.css');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1.5;
	color: #000;
	background: #fff;
}

#nav ul .nav-item {
	margin-left: 2rem;
}
ol,
ul li:not(.nav-item) {
	// list-style: none;
	list-style-position: outside;
	margin-left: 1em;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a img {
	border: none;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: 'Gilroy-Light', sans-serif;
}
@media all and (max-width: 320px) {
	html {
		font-size: 14px;
	}
}
h1 {
	font-family: 'Gilroy-Light';
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 2.8rem;
}
h2,
h3 {
	font-family: 'Gilroy-Light';
	// font-weight: 600;
	margin-bottom: 0.5rem;
}
h2 {
	font-size: 2.2rem;
	line-height: 2.4rem;
	margin-bottom: 0.5rem;
	// font-weight: 700;
}
h3 {
	font-family: 'Gilroy-Light';
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}
h4 {
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin-bottom: 0.5rem;
	color: #444;
}

footer {
	font-size: 0.7rem;
}
// .workpage .content h3 {
//   font-size: 1.8rem;
//   line-height: 2.1rem;
// }
// .workpage .content h4 {
//   font-family: freight-text-pro;
// }
// .workpage .postList h2.workSection {
//   border-top: 1px solid #eee;
//   padding-top: 4rem;
// }
// .workpage .postList h3 {
//   font-size: 1.4rem !important;
//   line-height: 1.6rem;
// }
p {
	font-size: 1.1rem;
	line-height: 1.6rem;
	font-family: 'Gilroy-Light', sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

#header-content {
	min-height: 100vh;
	width: 100%;
	padding: 0;
}

strong {
	font-weight: 900;
}
content#body {
	height: 100%;
	width: 100%;
}

nav > a.nav-item {
	font-size: 1rem;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: relative;
	transform: translate(0, -56px);
}

#home {
	display: table;
	position: relative;
	width: 100%;
	background-size: cover;
}

content > .container:not(#home) {
	padding-top: 3rem;
}

content > .container {
	min-height: calc(100vh - 60px);
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.jumbotron {
	padding: 2em;
	margin-bottom: 0;
}

// body,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
// div {
// 	font-family: 'Gilroy-Light', sans-serif;
// }

.row {
	margin-left: 0;
	margin-right: 0;
}

#nav .nav-link {
	padding: 0;
}

// .navbar-expand-md .navbar-nav .nav-link {

// }
#footer a.nav-link {
	color: black;
}
// #footer a.nav-link:hover {
// 	color: #db0000;
// }
.navbar-light .navbar-nav .active > .nav-link {
	font-weight: bold;
}

li.active {
	font-weight: bold;
}

#nav .navbar-nav > li {
	text-align: right;
	padding: 0;
}

a {
	color: #db0000;
	background-position: 0 87.5% !important;
}
// a:hover,
// a:focus {
// 	color: #fcdd1a;
// 	text-decoration: none;
// }

// a {
// 	background: -webkit-linear-gradient(top, transparent 0%, transparent 60%, #fcdd1a 60%, #fcdd1a 100%);
// 	background: -moz-linear-gradient(top, transparent 0%, transparent 60%, #fcdd1a 60%, #fcdd1a 100%);
// 	background: -o-linear-gradient(top, transparent 0%, transparent 60%, #fcdd1a 60%, #fcdd1a 100%);
// 	background: -ms-linear-gradient(top, transparent 0%, transparent 60%, #fcdd1a 60%, #fcdd1a 100%);
// 	background: linear-gradient(to bottom, transparent 0%, transparent 60%, #fcdd1a 60%, #fcdd1a 100%);
//   }
a:hover:not(#close) {
	background: -webkit-linear-gradient(
		top,
		transparent 0%,
		transparent 0%,
		#fcdd1a 0%,
		#fcdd1a 100%
	);
	background: -moz-linear-gradient(
		top,
		transparent 0%,
		transparent 0%,
		#fcdd1a 0%,
		#fcdd1a 100%
	);
	background: -o-linear-gradient(
		top,
		transparent 0%,
		transparent 0%,
		#fcdd1a 0%,
		#fcdd1a 100%
	);
	background: -ms-linear-gradient(
		top,
		transparent 0%,
		transparent 0%,
		#fcdd1a 0%,
		#fcdd1a 100%
	);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 0%,
		#fcdd1a 0%,
		#fcdd1a 100%
	);
	color: #db0000;
	text-decoration: none;
}

// #nav {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 60rem;
// 	max-width: 95%;
// }

// nav {
// 	width: 60rem;
// 	max-width: 95%;
// 	position: relative;
// 	padding: 0;
// 	margin: 0 auto;
// }

.header {
	width: 60rem;
	max-width: 95%;
	position: relative;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 2rem;
	// padding-top: 6rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #eee;
}

.content {
	width: 60rem;
	max-width: 95%;
	position: relative;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 2rem;
	// padding-top: 6rem;
	// padding-bottom: 2rem;
}

.project-content {
	width: 60rem;
	max-width: 95%;
	position: relative;
	padding: 0;
	margin: 0 auto;
	// padding-top: 6rem;
	// padding-bottom: 2rem;
	p {
		padding-bottom: 2rem;
	}
}

.project {
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
}

.header h1 {
	font-size: 2.5rem;
	line-height: 2.2rem;
	max-width: 100%;
}
.header h2 {
	max-width: 100%;
	font-family: 'Gilroy-Light';
	font-size: 1.4rem;
	margin-top: 0.4rem;
	line-height: 1.9rem;
	color: #777;
}

nav {
	min-height: 60px;
}

.page-wrapper {
	width: 60rem;
	max-width: 95%;
	position: relative;
	padding: 0;
	margin: 0 auto;
	// margin-bottom: 2rem;
	// padding-top: 6rem;
	// padding-bottom: 2rem;
}

#project .content p {
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin: 1.1rem auto;
}

.bg-secondary {
	background-color: #fcdd1a !important;
}

.btn-outline-secondary {
	color: #db0000;
	border-color: #db0000;
}

.btn-outline-secondary:hover {
	color: #db0000;
	background-color: #fcdd1a;
	border-color: #db0000;
}

.back {
	position: absolute;
	bottom: 50%;
	left: -2rem;
}
